/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
	.content__title {
		font-size: 54px;
		line-height: 1.1;
	}
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
	.content__title {
		font-size: 35px;
		line-height: 1.2;
	}

	.content__desc {
		font-size: 16px;
	}
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
	body {
		overflow: auto;
	}
	.main > div {
		flex-basis: 100% !important;
	}

	.container {
		height: auto;
	}

	.container {
		padding: 0 44px;
	}
	.img {
		margin: 65px 0 60px;
	}

	.content__title {
		font-size: 48px;
		line-height: 71px;
		letter-spacing: -0.035em;
		margin-bottom: 30px;
	}

	.content__desc {
		font-size: 18px;
		line-height: 27px;
		letter-spacing: -0.035em;
		margin-bottom: 66px;
	}

	.btn {
		margin-bottom: 114px;
	}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
}
